includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method#'  
        - '#Access to an undefined property .*::\$transactionable#'
        - '#Access to an undefined property .*::\$paymentTransactions#'

    excludePaths:
        - app/Http/Resources/*
